.navbar {
  display: flex;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: #fff;
}
.logo {
  font-family: "Sacramento", cursive;
  font-size: 5em;
  color: var(--brand);
  cursor: pointer;
}
.brand {
  flex: 1;
}
.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}
.link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  color: grey;
  text-overflow: clip;
}
.link:hover {
  color: #000;
}
.active {
  text-decoration: none;
  color: var(--ocean);
}
.menu-btn {
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 10px;
}
.menu-drawer {
  position: absolute;
  top: 90px;
  right: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 260px;
  font-size: 18px;
  justify-content: space-around;
  padding: 10px 50px;
  border: 1px solid rgb(234, 234, 234);
  background: #fff;
}
.drawer-link {
  text-decoration: none;
  color: grey;
}
.drawer-link-active {
  text-decoration: none;
  color: var(--ocean);
}
.drawer-link:hover {
  color: #000;
}
.auth {
  text-decoration: none;
  color: var(--ocean);
  border: 1px solid var(--ocean);
  padding: 10px;
  border-radius: 10px;
}
.auth:hover {
  background: var(--ocean);
  color: #fff;
}

@media screen and (max-width: 850px) {
  .link,
  .active {
    display: none;
  }
  .links {
    flex: 0;
  }
}

@media screen and (min-width: 851px) {
  .menu {
    display: none;
  }
}
